---
layout: default
title: News
titleBefore:
titleAfter:
meta:
author:
image:
keywords:
sectionClass: posts
navigationSection: first
includeInNavigation: true
weight: 1
sitemap:
  lastMod: 2016-05-02
  priority: 0.7
  changeFreq: monthly
  include: true
---

<section class="{{page.sectionClass}}">
  <div class="grid">

    <div class="unit [ xs-1 l-2-3 ] ">

      {% for post in paginator.posts %}
        <article itemscope itemtype="http://schema.org/Article" class="pad-b">
          <h2 class="brand-highlight push-1-4 kilo">
            <a href="{{site.baseurl}}{{post.url}}">{{post.title | strip | upcase}}</a>
          </h2>
          <p class="milli push-1-2">
            <time itemprop="datePublished" datetime="{{post.date | date: '%Y-%m-%d' }}">{{ post.date | date: "%B %d, %Y" }}</time>
          </p>
          <div class="push-0 milli p-container">{{ post.content | markdownify }}</div>

          {% assign post_images = "" | split:"|" %}
          {% for image in post.images %}
            {% assign post_images = post_images | push: image %}
          {% endfor %}

          {% assign images = site.images | sort:"order" %}
          {% for image in images %}
            {% if image.posts contains post.title | downcase %}
              {% assign post_images = post_images | push: image %}
            {% endif %}
          {% endfor %}

          {% if post_images.size >= 1 %}
            <div class="push-0 pad-t">
              {% for image in post_images %}
                {% include image.html %}
              {% endfor %}
            </div>
          {% endif %}

          {% if false == forloop.last %}
          <div class="island-2">
            <hr class="hr pad-b-1-4">
          </div>
          {% endif %}

        </article>
      {% endfor %}

      {% include pagination/default-post-pagination.html %}

    </div>

    <div class="unit [ xs-1 l-1-3 ] ">
      <aside class="aside-container push-0">

        <div class="hr-container island-2">
          <hr class="hr pad-b-1-4">
        </div>
        {% include instagram-feed.html %}

      </aside>
    </div>

  </div>

</section>
