
{% assign page_albums = "" | split:"|" %}
{% assign albums = site.albums | sort:"order" %}
{% if include.album-category %}
  {% assign album-category = include.album-category %}
{% else %}
  {% assign album-category = page.title | downcase %}
{% endif %}

{% for album in albums %}
  {% if album.category contains album-category | downcase %}
    {% assign page_albums = page_albums | push: album %}
  {% endif %}
{% endfor %}

{% if albums.size >= 1 %}

  {% for album in page_albums %}
    {% assign loopindex = forloop.index0 | modulo:4 %}

    {% if forloop.first or 0 == loopindex %}
    <div class="grid">
    {% endif %}

    <div class="unit [ xs-1 s-1-2 m-1-3 ] gutter-1-4">
      <a href="{{site.baseurl}}{{album.url}}">
      <figure class="graphic">
        <div class="embed">
          <img class="embed-item flex-img" src="{{ album.cover }}" alt="{{ album.title }}">
          <div class="graphic-overlay-container icon-link">
            <div class="graphic-overlay">
              <i class="icon i-32 i-add"></i>
            </div>
          </div>
        </div>
        <figcaption class="pad-t-1-4 micro">
          <div class="push-0 p-container text-upper">{{ album.description | newline_to_br }}</div>
        </figcaption>
      </figure>
      </a>
    </div>

    {% if forloop.last or 4 == loopindex %}
    </div>
    {% endif %}

  {% endfor %}

{% endif %}
